<link rel="stylesheet" href="/assets/css/trips.css">

<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>
<div class="container">

    <div class="row">
        {{#if trip }}
        {{#each trip}}
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content">
                    <i class="large material-icons divicon">{{ this.dataValues.methodOfTransport }}</i>
                    <h5>{{ this.dataValues.destination }}</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, provident?</p>
                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Job Info</a>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#{{ this.dataValues.id }}test4"><i class="small material-icons">play_arrow</i></a></li>
                        <li class="tab"><a class="active" href="#{{ this.dataValues.id }}test5"><i class="small material-icons">pause</i></a>
                        </li>
                        <li class="tab"><a href="#{{ this.dataValues.id }}test6"><i class="small material-icons">stop</i></a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="{{ this.dataValues.id }}test4">
                        Recording Time
                        <div class="progress">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                    <div id="{{ this.dataValues.id }}test5">
                        Paused
                        <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                        </div>
                    </div>
                    <div id="{{ this.dataValues.id }}test6">
                        Complete!
                        <div class="progress">
                            <div class="determinate" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
        <a id="add-trip-button" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                {{> new-trip-modal }}
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
</div>